.container {
  display: flex;
  width: 50rem;
  gap: 0.2rem;
}

.inputWrapper {
  width: 100%;
  position: relative;
}

.input {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  outline: none;
  border-radius: 0.2rem;
  border: 1px solid rgb(185, 185, 185);

  &:focus {
    border: 1px solid seagreen;
  }

  &:disabled {
    cursor: not-allowed;

    &::placeholder {
      color: rgba(226, 74, 74, 0.7);
      font-weight: 600;
    }
  }

  &:read-only {
    background-color: #fff;
    cursor: unset;
  }
}

.count {
  position: absolute;
  color: rgb(185, 185, 185);
  right: 1rem;
  bottom: 0.5rem;
  font-size: small;
}

.button {
  border-radius: 0.2rem;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(185, 185, 185);
  color: seagreen;

  &:disabled {
    color: rgb(185, 185, 185);
    cursor: not-allowed;
    border: 1px solid rgb(185, 185, 185);
    outline: none;
  }

  &:hover {
    border: 1px solid seagreen;
  }

  &:focus {
    outline: 1px solid rgb(37, 121, 74);
  }
}
